<ion-view title="Competition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Importance</span>
                <select>
                    <option>Amicale</option>
                    <option>Départemental</option>
                    <option>Régional</option>
                    <option>Nationale</option>
                    <option>Internationale</option>
                </select>
            </label>
        </form>
        <div class="button-bar">
            <a href="#/Tir" class="button button-stable button-block ">Start</a>
        </div>
    </ion-content>
</ion-view>