<ion-view title="Creation">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="addSeance(seance)">
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" placeholder="" ng-model="seance.date">
            </label>
            <label class="item item-select">
                <span class="input-label">Discipline</span>
                <select ng-model="seance.discipline">
                    <option>10 m</option>
                    <option>Carabine</option>
                    <option>TSV</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Lieu</span>
                <input type="text" placeholder="" ng-model="seance.lieu">
            </label>
            <label class="item item-select">
                <span class="input-label">Importance</span>
                <select ng-model="seance.importance">
                    <option>Amicale</option>
                    <option>Départemental</option>
                    <option>Régional</option>
                    <option>Nationale</option>
                    <option>Internationale</option>
                </select>
            </label>
            <div class="padding">
                  <button class="button button-full button-assertive" type="submit">
                     Add Todo
                  </button>
               </div>
        </form>
        
    </ion-content>
</ion-view>