<div class="modal slide-in-up" ng-controller="newSession">
  <header class="bar bar-header bar-secondary">
    <button class="button button-clear button-primary" ng-click="close()">Annuler</button>
    <h1 class="title">Séssion</h1>
    <button class="button button-positive" ng-click="createNew()">Enregistrer</button>
  </header>
  <ion-content class="padding has-header">
  <label class="item item-input">
  	<span class="input-label">Points</span>
  <input type="number" ng-model="data.point">
</label>
<label class="item item-input">
  	<span class="input-label">Cible (en heure - de 1 à 12)</span>
  <input type="number" ng-model="data.heure">
</label>

 <span>
      <a href="javascript:" ng-click="nextShoot()">Tir Suivant</a>
      </span>
       <span>
      <a href="javascript:" ng-click="endSession()">Fin de série</a>
      </span>
  </ion-content>
</div>