<ion-view title="Séance">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>seance</h2>
            <ion-list>               
                <ion-item ng-repeat="seance in seances" type="item-text-wrap"> {{seance.resultat}}
                </ion-item>             
            </ion-list>  
        <a href="#/Tir" class="button button-stable button-block ">Autre série</a>
        <a href="#/side-menu21/Listshoot" class="button button-stable button-block ">Fin de séance</a>
    </ion-content>
</ion-view>