<ion-header-bar class="bar-positive">
  <button class="button button-clear" ng-click="newTask()">Nouvelle seance</button>
  <h1 class="title">Séances</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">


<div class="row" ng-repeat="session in seances.aSession" ng-init="items.total = 0">
    <div class="col">session {{$index+1}}</div>
  	<div class="col"ng-repeat="s in session" ng-init="items.total=items.total+s.point">{{s.point}} <br><i> {{s.horaire}}</i></div>
  	<div class="col">Total :{{items.total}}</div>
</div>


  <span>{{ seances.discipline }}</span> <br>

  <span>{{ seances.date }}</span>
   <span>
       <a href="javascript:" ng-click="addSession()">Ajout</a>
      </span>
</ion-content>