<ion-view title="Tir">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <form class="list"></form>
        <h1>Série 1 / Tir 1</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Résultat</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Horaire</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <a href="#/seance" class="button button-stable button-block ">Fin</a>
            <button class="button button-stable button-block ">Next</button>
        </div>
    </ion-content>
</ion-view>